<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body bgcolor="#e4d0d0">
    <br> <br>
    <center>
        <font color="blue">
    <h3>let's shop</h3>
        </font>
        <font color="white">
        <h1>new arrivals</h1>
        </font>
        <font color="brown">
            <a href="newarrivel.html" target="_top">click here</a> 
        </font>
    </center>
    
</body>
</html>
