<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Candles</title>
    <frameset rows="6%, 12%, 6%, *, 30%, 6%" border="0">

        <frame name="header" src="header.html" scrolling="no"></frame>

        <frameset cols="20%,*, 20%">
            <frame name="social" src="social.html" scrolling="no"></frame>
            <frame name="logo" src="logo.html" scrolling="no"></frame>
            <frame name="car" src="car.html" scrolling="no"></frame>
        </frameset>

        <frame name="links" src="link.html" scrolling="no"></frame>

        <frameset cols="30%,*">
            <frame name="click" src="click.html"></frame>
            <frame name="home" src="home.html" scrolling="no"></frame>
        </frameset>
        
        <frameset cols="25%,25%,25%,25%">
            <frame name="NEW" src="loved.html" scrolling="no"></frame>
            <frame name="NEW" src="new.html" scrolling="no"></frame>
            <frame name="NEW" src="sale.html" scrolling="no"></frame>
            <frame name="NEW" src="gift.html" scrolling="no"></frame>
        </frameset>
        <frame name="footer" src="footer.html"></frame>
        
    </frameset>
</head>
<body>
    
</body>
</html>
