<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Candles</title>
    <frameset rows="4%, 15%, 6%, *,20%, 20%, 5%" border="0">

        <frame name="header" src="header.html" scrolling="no"></frame>

        <frameset cols="20%,*, 20%">
            <frame name="space" src="space.html" scrolling="no"></frame>
            <frame name="logo" src="logo.html" scrolling="no"></frame>
            <frame name="social" src="social.html" scrolling="no"></frame>
        </frameset>

        <frame name="links" src="link.html" scrolling="no"></frame>

        <frameset cols="10%,30%,*,10%">
            <frame name="sp1"></frame>
            <frame name="sp1"></frame>
            <frame name="home" src="home.html" scrolling="no"></frame>
            <frame name="sp2"></frame>
        </frameset>
        
        <frame name="head">15</frame>
        <frame name="head">15</frame>
        <frame name="head">20</frame>
        <frame name="head"></frame>
        
    </frameset>
</head>
<body>
    
</body>
</html>
