<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body bgcolor="#d1b0b0">
    <center>
        <font color = #67729D>
            <a href="">HOME</a>
                &nbsp;
            <a href="">NEW ARRIVEL</a>
                &nbsp;
            <a href="">SHOP BY</a>
                &nbsp;
            <a href="">ABOUT</a>
                &nbsp;
            <a href="">BLOGS</a>
                &nbsp;
            <a href="">FAQ</a>
                &nbsp;
            <a href="">CONTACT</a>
        </font>
       
    </center>
</body>
</html>
