<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gallery - Natural Candles</title>
</head>
<body bgcolor="#d1b0b0">
    <table width="100%">
        <tr>
            <td align="left" valign="top">
                <a href="index.html" target="_top">
                    <img src="../images/logo.png" height="50px" width="50px" alt="Logo">
                </a>
            </td>
            <td align="center" valign="top">
                <img src="../images/newarr.jpeg" width="400px" alt="New Arrival">
            </td>
            <td width="50"></td>
        </tr>
    </table>
    <table width="100%">
        <tr>
            <td colspan="3" align="center">
                <h2>NEW ARRIVEL</h2>
            </td>
        </tr>
        <tr>
            <td align="center"><img src="../images/c1.jpeg" width="200px" height="200px" alt="Photo 1"></td>
            <td align="center"><img src="../images/c2.jpeg" width="200px" height="200px alt="Photo 2"></td>
            <td align="center"><img src="../images/c3.jpeg" width="200px" height="200px alt="Photo 3"></td>
        </tr>
        <tr>
            <td align="center"><img src="../images/c4.jpeg" width="200px" height="200px alt="Photo 4"></td>
            <td align="center"><img src="../images/c5.jpeg" width="200px" height="200px alt="Photo 5"></td>
            <td align="center"><img src="../images/c6.jpeg" width="200px" height="200px alt="Photo 6"></td>
        </tr>
    </table>
</body>
</html>
